<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hd.dao.TodoItemMapper">

    <resultMap id="TodoItemMap" type="TodoItem">
        <id column="TODO_ITEM_ID" property="todoItemId"></id>
        <result column="USER_ID" property="userId"></result>
        <result column="TODO_ITEM_TITLE" property="todoItemTitle"></result>
        <result column="TODO_ITEM_CONTENT" property="todoItemContent"></result>
        <result column="PRIORITY" property="priority"></result>
        <result column="CREATION_DATE" property="creationDate"></result>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate"></result>
        <result column="COMMENTS" property="comments"></result>
    </resultMap>

    <insert id="addTodoItem" parameterType="TodoItem">
        INSERT INTO CUX_TODO_ITEMS(USER_ID,TODO_ITEM_TITLE,TODO_ITEM_CONTENT,PRIORITY,CREATION_DATE,LAST_UPDATE_DATE,COMMENTS)
        VALUE (
            #{userId},
            #{todoItemTitle},
            #{todoItemContent},
            #{priority},
            #{creationDate},
            #{lastUpdateDate},
            #{comments}
        )
    </insert>

    <delete id="deleteTodoItemByTodoItemId" parameterType="int">
        DELETE FROM CUX_TODO_ITEMS
        WHERE TODO_ITEM_ID = #{todoItemId}
    </delete>

    <update id="updateTodoItem" parameterType="TodoItem">
        UPDATE CUX_TODO_ITEMS
        SET
        TODO_ITEM_TITLE = #{todoItemTitle},
        TODO_ITEM_CONTENT = #{todoItemContent},
        PRIORITY = #{priority},
        LAST_UPDATE_DATE = #{lastUpdateDate},
        COMMENTS = #{comments}
        WHERE TODO_ITEM_ID = #{todoItemId}
    </update>

    <select id="getTodoItemByUserId" parameterType="int" resultMap="TodoItemMap">
        SELECT * FROM CUX_TODO_ITEMS
        WHERE USER_ID = #{userId}
    </select>

    <select id="getTodoItemByTodoItemId" parameterType="int" resultMap="TodoItemMap">
        SELECT * FROM CUX_TODO_ITEMS
        WHERE TODO_ITEM_ID = #{todoItemId}
    </select>

</mapper>
